@charset "utf-8";
/* CSS Document */

.cu-body{
    height: 1520px;
    width: 100%;
    position: absolute;
   // border: 1px solid #000;
}


#contact-banner{
	height:140px;
	width:100%;
	position:absolute;

}

#contact-banner img{
	margin-top:0px;
	margin-left:170px;
}


#cont-direct{
	height: 565px;
    width: 50%;
    position: absolute;
    margin-left: 45%;
    margin-top: 173px;
}

.dir-container{
	height:470px;
	width:100%;
	position:absolute;
	margin-top:70px;
}


.dir-one{
	height: 150px;
    width: 90%;
    margin-left: 5%;
    position: relative;
    margin-top: 0px;
    border-radius: 3px 3px 3px 3px;
}



.dir-one:hover{
	background-color:#c3c3c3;
	color:#FFF;
	transition:         0.7s ease-in;
  -o-transition:      0.7s ease-in;
  -ms-transition:     0.7s ease-in;
  -moz-transition:    0.7s ease-in;
  -webkit-transition: 0.7s ease-in;
}



.dirhead-div{
    height: 50px;
    width: 19%;
    position: absolute;
    margin-left: 70%;

	
}

.dir-head{
	font:"Times New Roman", Times, serif;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-outline:#000;
	text-height:font-size;
	color:#333;
	padding-top:-30px;
	padding-left:5%;
	padding-top: 38px;
}



.dir-logo{
    height: 65px;
    width: 14%;
    position: absolute;
    margin-top: -76px;
    margin-left: 80%;
}

.dir-para{
	font:Georgia, "Times New Roman", Times, serif;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333;
	padding-left: 5%;
	
}




#map{
	height: 300px;
    width: 70%;
    position: absolute;
    margin-top: 768px;
    margin-left: 15%;
    border: 1px solid #093;
}




#sep{
	height: 597px;
    width: 0px;
    border: 1px solid #c3c3c3;
    position: absolute;
    margin-top: 150px;
    margin-left: 43%;
}







#cont-head{
    height: 64px;
    width: 100%;
    position: absolute;
}

#cuform-div{
    height: 570px;
    width: 38%;
    position: absolute;
    margin-top: 170px;
    margin-left: 2%;
}

.cu-form{
    width: 100%;
    height: 570px;
    margin-top: -20px;
}







	

.cu-name{
	
	height: 50px;
    width: 84%;
    margin-left: 8%;
    margin-top: 2px;
	border-radius:3px 3px 3px 3px;
	border:2px solid #03C;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:22px;
	color:#333;
}



.cutextarea{
	height: 150px;
    width: 84%;
    margin-left: 8%;
    margin-top: 2px;
	border-radius:3px 3px 3px 3px;
	border-color:#00F;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:22px;
	color:#333;
}




.cuform-para{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	color:#333;
	padding-left:8%;
}




#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 90%;
	margin-left:5%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	margin-top:25px;
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	-ms-transition: .2s ease;
	transition: .2s ease;
}

.submit:hover .ease{
  width:90%;
  margin-left:5%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
#form-div{
left: 3%;
margin-right: 3%;
width: 88%;
margin-left: 0;
padding-left: 3%;
padding-right: 3%;
}
	
	




	